body{
	/*background: url("../fonts/Abstract_Green_Background_with_Floral_Elements.jpg");
	background: url("../fonts/green_grass_nature_background.jpg")
	background: url("../fonts/Abstract_Background_Tree_on_a_Hill.jpg");*/
	background: url('/static/img/fondo6.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
}
h3{
	text-align: center;
	color: white;
	margin: 10px;
}
ul li {
	padding-left: 20px;
}
ul{
	padding-left: 500px;
}
h2{
	text-align: center;
}