body{
	/*background: url("../fonts/Abstract_Green_Background_with_Floral_Elements.jpg");
	background: url("../fonts/green_grass_nature_background.jpg");*/
	background: url("../fonts/Abstract_Background_Tree_on_a_Hill.jpg");
	background-size: 100%;
	background-repeat: repeat-y;
}
