{%extends "principal.html"%}
{%block containerr%}

<div class="container">
	<div class="row">
		<div class="col-xs-5">
		</div>
		<div class="col-xs-7">

			<!--	{% load bootstrap3 %}
			<form action="" method="post" class="form">
		        {% csrf_token %}
		        {% bootstrap_form formulario %}
		        {% buttons %}
		            <button type="submit" class="btn btn-primary">Activar Cuenta</button>
		        {% endbuttons %}
		    </form>-->

			<form action="" method="post" enctype="multipart/form-data">
				{{formulario.as_p}}
				{% csrf_token %}
				<button  type = "submit"  class = "btn btn-info" > Activar Cuenta </button>
			</form>
		</div>
	</div>
</div>

{%endblock%}