{%extends "principal.html"%}
{%block containerr%}

<div class="container">
	<div class="row">
		<div class="col-xs-4">
		</div>
		<div class="col-xs-5">
			<h1>Login</h1>

				{% load bootstrap3 %}
			{% if estado %}
				<div class="alert alert-danger">{{mensaje}}</div>
			{% endif %}
			<!--<form action="" method="post" class="form">
		        {% csrf_token %}
		        {% bootstrap_form form %}
		        
		        {% buttons %}
		        <button type="submit" class="btn btn-primary">Login</button>
		        {% endbuttons %}
		    </form>-->
		    
			<form action="" method="post">
				{% csrf_token %}
				<table>
				{{form}}
				</table>
				<div>{{form2.as_p}}</div>
				<button  type = "submit"  class = "btn btn-primary" > Login </button>
				<div class="fb-login-button col-xs-4" data-max-rows="4" data-size="xlarge" data-show-faces="false" data-auto-logout-link="true"></div>
						</div>
						<div id="status">
						</div>
			</form>

			
		</div>
	</div>
</div>

{%endblock%}