{%extends "principal.html"%}
{%block containerr%}

<div class="container">
	<div class="row">
		<div class="col-xs-4">
		</div>
		<div class="col-xs-5">
			<h1>Login</h1>

				{% load bootstrap3 %}
			{% if estado %}
				<div class="alert alert-danger">{{mensaje}}</div>
			{% endif %}
			<!--<form action="" method="post" class="form">
		        {% csrf_token %}
		        {% bootstrap_form form %}
		        
		        {% buttons %}
		        <button type="submit" class="btn btn-primary">Login</button>
		        {% endbuttons %}
		    </form>-->
		    
			<form action="" method="post">
				{% csrf_token %}
				{{form.as_p}}
				<div>{{form2.as_p}}</div>
				<button  type = "submit"  class = "btn btn-info" > Login </button>
			</form>
		</div>
	</div>
</div>

{%endblock%}