{%extends "principal.html"%}
{%block containerr%}
<div class="row pero ">
			{% if estadoo %}
				<div class="alert alert-success">{{mensaje}}</div>
			{% endif %}
			{% if estado %}
				<div class="alert alert-success">{{mensaje}}</div>
				
			{% endif %}
			{% if not estado %}
			<div class="col-xs-12">
			<h1>Agregar permiso</h1>
				<form action="" method="post" accept-charset="utf-8">
					{{form_perm.as_p}}
					{%csrf_token%}
				<button  type = "submit"  class = "btn btn-info" > Agregar </button><br>
				<p>Tiene que agregar los permisos</p>
					<li><p>add_tema</p></li>
					<li><p>bloques_permisos</p></li>

				</form>
			
			</div>
			{% endif %}
		</div>
{%endblock%}